<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Matrix Login Suite" parallel="false">
    <test name="Login Tests">
        <classes>
            <class name="tests.LoginTests"/>
            <class name="tests.ScheduleInspectionTest"/>
            <class name="tests.EditAuditTest"/>
            <class name="tests.EditTemplateTest"/>
            <class name="tests.CreateTaskTest"/>
            <class name="tests.EditTaskTest"/>
            <class name="tests.EditTaskGroupTest"/>
            <class name="tests.TaskGroupTest"/>
        </classes>
    </test>
</suite>
